@use "../../styles.scss";

td.mat-column-name {
  cursor: pointer;
}

.mat-row.comparing {
  background-color: rgba(0, 0, 0, 0.075);
}

.mat-column-power,
.mat-column-fuel,
.mat-column-price {
  text-align: center;
}

@media only screen and (min-width: styles.$small-width) {

  .mat-column-name,
  .mat-column-transmission {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .mat-column-name {
    max-width: 350px;
  }

  .mat-column-transmission {
    max-width: 110px;
  }

  .mat-column-actions {
    width: 260px;

    button {
      width: inherit
    }
  }
}

@media only screen and (max-width: styles.$small-width) {
  .mat-column-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .mat-column-name {
    max-width: 10px;
  }

  .mat-column-actions {
    width: 60px;
  }

  td.mat-cell:last-of-type {
    padding-right: 5px;
  }

  td.mat-cell:first-of-type {
    padding-left: 5px;
  }
}