.compare-bar {
  position:fixed;
  bottom:0px;
  right: 200px;

  display: block;
  width: 500px;
  margin: auto;

  mat-expansion-panel-header {
    padding-right: 0px;
  }

  .description {
    flex: 1 1 auto
  }
}
