<div class="compare-bar mat-elevation-z8" *ngIf="getCars().length > 1">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Comparison list </mat-panel-title>
        <mat-panel-description>
          <div class="description">{{ getCars().length }} cars were added</div>
          <button mat-raised-button color="primary" (click)="onCompare()">
            Compare
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item *ngFor="let car of getCars()">
          <mat-icon matListItemIcon class="delete" aria-hidden="false" aria-label="Remove car"
            (click)="removeCar(car)">delete
          </mat-icon>
          <div matListItemTitle>{{ car.name }}</div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>