@import "../../styles.scss";

.compare-bar {
  position: fixed;
  bottom: 0px;
  right: 200px;

  display: block;
  width: 500px;

  @media only screen and (max-width: $small-width) {
    right: 0;
    width: 100%;
  }

  mat-expansion-panel-header {
    padding-right: 0px;
  }

  .description {
    flex: 1 1 auto;
  }
}
