@import "../../styles.scss";

.search-bar {
  margin-left: 130px;

  .mat-form-field {
    width: 100%;
    height: 40px;
    margin: 10px;
  }

  span.version {
    float: right;
    font-size: 10px;
  }
}

@media only screen and (max-width: $small-width) {
  .search-bar {
    margin-left: 5px;

    .mat-form-field {
      width: 100%;
    }
  }
}