<mat-drawer-container class="sidebar">
  <mat-drawer #drawer mode="side" opened>
    <button mat-button mat-raised-button color="primary" (click)="addFilter()">
      Add filter
    </button>
    <div *ngFor="let filter of filters">
      <mat-form-field class="search-form-field" *ngIf="!filter.isReady">
        <mat-label>{{ filter.name }}</mat-label>
        <input matInput type="text" [matAutocomplete]="auto" (keyup)="onSearch($event, filter)" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAttrNameChange($event.option.value, filter)">
          <mat-option *ngFor="let option of filter.nameOptions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="search-form-field" *ngIf="filter.isReady">
        <mat-label>{{ filter.status }}</mat-label>
        <mat-select multiple (selectionChange)="onChange($event.value, filter.name)">
          <mat-option *ngFor="let option of filter.valueOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="delete" aria-hidden="false" aria-label="Remove filter" (click)="removeFilter(filter)">delete
      </mat-icon>
      <div class="range-slider" *ngIf="filter.isNumeric">
        <div class="range">
          <mat-form-field class="min">
            <mat-label>Min</mat-label>
            <input matInput type="number" value="{{ filter.currentMin }}" (input)="onRangeChange($event, filter)">
          </mat-form-field>
          <mat-icon class="remove" aria-hidden="false">
            remove
          </mat-icon>
          <mat-form-field class="max">
            <mat-label>Max</mat-label>
            <input matInput type="number" value="{{ filter.currentMax }}" (input)="onRangeChange($event, filter)">
          </mat-form-field>
        </div>
        <mat-slider min="{{ filter.min }}" max="{{ filter.max }}" (input)="onRangeChange($event, filter)"
          (change)="onRangeChange($event, filter)">
          <input value="{{ filter.currentMin }}" matSliderStartThumb>
          <input value="{{ filter.currentMax }}" matSliderEndThumb>
        </mat-slider>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>