<div class="compare-list wrap">
  <div class="mat-elevation-z8">
    <!-- TODO: add number/index/# -->
    <!-- TODO: find better "on row click" implementation -->
    <!-- TODO: improve -->
    <table mat-table [dataSource]="data" class="mat-elevation-z8 table-hover">
      <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col"
        [sticky]=" col == attrString ? true : false ">
        <th mat-header-cell *matHeaderCellDef> {{ col }} </th>
        <td mat-cell *matCellDef=" let cellData"
          [class]="cellData[attrString].hasDifferentValues && col != 'name' ? 'highlight': ''">
          <a *ngIf="cellData[col].url != undefined; else elseBlock;" [href]="cellData[col].url" target="_blank">
            {{ cellData[col].value }}
          </a>
          <ng-template #elseBlock>
            <img *ngIf="cellData[col].name == 'image'; else elseBlock2;" [src]="cellData[col].value">
            <ng-template #elseBlock2>
              {{ cellData[col].value }}
            </ng-template>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class=" mat-row" *matNoDataRow>
        <mat-spinner></mat-spinner>
        <!-- TODO: spinner should be in center -->
      </tr>
    </table>
  </div>
</div>
